@font-face {
    font-family: 'Visbyroundcf';
    src: url('VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Visbyroundcf';
    src: url('VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Visbyroundcf';
    src: url('VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Visbyroundcf';
    src: url('VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }